body {
    background-color: pink;
}

ul {
    margin-bottom: 50px;
    list-style-type: none;
}

li {
    float: left;
    margin-bottom: 50px;
    padding-right: 10px;
}

.class1 {
    width: 30%;
    /*height: 500px;*/
    text-align: justify;
    border: 2px solid black;
    padding: 20px 20px 5px;
    margin: 20px;

    float: left;

    background-color: darkgrey;
}