p {
  color: green;
  color: blue; /* platí poslední definice */
  text-indent: 30px;
  /*text-transform: uppercase;
  nějaký komentář
  */
}

h1 {
  color: red;
}

div {
  color: green;
}

a {
  color: black;
}